@import '../../../variables.scss';

.chat-window {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-flow: column nowrap;

    .chat-header {
        padding: 20px;
        background-color: var(--theme-button-primary-background-color);
        color: var(--theme-button-primary-foreground-color);

        display: flex;
        justify-content: flex-end;

        h1 {
            margin: 0;
            font-size: 120%;
        }

        .chat-header-close-button {
            flex: 1 1 auto;
            text-align: right;

            font-size: 120%;
        }
    }

    .chat-target-selector {

        display: flex;

        button {
            background-color: grey;
            flex: 1 1 50%;
            padding: 10px;
            border: none;
            border-radius: 0;
            font-weight: 700;
        }

        button.active {
            background-color: var(--theme-primary-background-color);
            color: black;
        }
    }

    .chat-view {
        flex: 1 1 auto;

        padding: 20px;
        background-color: var(--theme-primary-background-color);

        overflow-y: scroll;

        .chat-message {
            display: inline-block;
            background-color: var(--theme-box-border-color);
            width: 60%;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .chat-message-others {
            text-align: left;
        }

        .chat-message-me {
            text-align: right;;
        }


    }

    .chat-input {
        padding: 20px;
        background-color: var(--theme-button-primary-background-color);

        input {
            width: 100%;
            border: none;
            padding: 5px;
        }
    }

}

@media screen and (min-width: $size-md) {

    .chat-window {
        position: absolute;
        height: 80%;
        width: $size-md;

        top: auto;
        left: auto;
        bottom: 0;
        right: 0;

        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
