<div class="card">
    <h1>How long is the queue?</h1>
    <div>
        <p>Currently, the earliest available appointment time is estimated at
            <strong>{{appointmentStartDateTime}}</strong>.</p>
        <p>Do you want to continue the journey?</p>
    </div>
    <div class="button-list">
        <button (click)="onBack($event)" class="wh-button wh-secondary ">Back</button>
        <button (click)="onCancel($event)" class="wh-button wh-secondary ">Cancel</button>
        <button (click)="onNext($event)" class="wh-button wh-primary default">Yes</button>
    </div>
</div>
