<app-header></app-header>
<div class="container">
    <div *ngIf="isLogin" class="card">
        <h1>Login</h1>
        <form [formGroup]="form" (ngSubmit)="onLogin($event)">
            <div><label>Username</label><input formControlName="username" /></div>
            <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required" class="error">Username is required</div>
            </div>
            <div><label>Password</label><input formControlName="password" type="password"/></div>
            <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            </div>
            <div class="button-list">
                <input type="submit" value="Log In" />
            </div>
            <p>New User? <a href="#" (click)="onToggleForm($event)">Register</a> or <a routerLink="/public/tour">visit MyDoc Tour</a>.</p>
        </form>
    </div>

    <div *ngIf="!isLogin" class="card">
        <h1>Register New User</h1>
        <form [formGroup]="form" (ngSubmit)="onRegister($event)">
            <div><label>Username</label><input formControlName="username" /></div>
            <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required" class="error">Username is required</div>
            </div>
            <div><label>Password</label><input formControlName="password" type="password" /></div>
            <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            </div>
            <div class="button-list">
                <input type="submit" value="Register" />
                <button (click)="onToggleForm($event)">Existing User?</button>
            </div>
            <p>Not sure? <a routerLink="/public/tour">Take the MyDoc Tour</a>.</p>
        </form>
    </div>
</div>
