<div>
  <div class="appointments" [ngClass]="pageStyle.content">
    <div class="appointment-nav">
      <button (click)="onSelectPeriod('today')" [ngClass]="selectedPeriod == 'today' ? 'active' : ''">Today</button>
      <button (click)="onSelectPeriod('future')" [ngClass]="selectedPeriod == 'future' ? 'active' : ''">Upcoming Appointments</button>
      <button (click)="onSelectPeriod('past')" [ngClass]="selectedPeriod == 'past' ? 'active' : ''">Past Appointments</button>
    </div>

    <div *ngIf="selectedPeriod == 'today'">
      <h1>Today</h1>
      <app-appointment-card-control *ngFor="let episode of today" [episode]="episode" (chatClick)="onChatOpen($event)"></app-appointment-card-control>
    </div>

    <div *ngIf="selectedPeriod == 'future'">
      <h1>Upcoming Appointments</h1>
      <app-appointment-card-control *ngFor="let episode of future" [episode]="episode" (chatClick)="onChatOpen($event)"></app-appointment-card-control>
    </div>


    <div *ngIf="selectedPeriod == 'past'">
      <h1>Past Appointments</h1>
      <app-appointment-card-control *ngFor="let episode of past" [episode]="episode" (chatClick)="onChatOpen($event)"></app-appointment-card-control>
    </div>
  </div>
</div>
<app-chat-control *ngIf="chatEpisode" [episode]="chatEpisode" (close)="onChatClose($event)"></app-chat-control>
