<div class="card">
    <h1>Not for emergency!</h1>
    <form>
        <div>
            <p>If you are facing an emergency, please visit the nearest hospital.</p>
            <p>Are you experiencing any of the following emergency symptoms?</p>
            <uL>
                <li>Guilt</li>
                <li>Anger</li>
                <li>Terror</li>
                <li>Horror</li>
                <li>Hatred</li>
                <li>Smugness</li>
                <li>Interest</li>
                <li>Despair</li>
                <li>Melancholy</li>
            </uL>
        </div>
        <div *ngIf="isShowEmergencyHelp" class="emergency-notice">
            <p>Please visit the nearest hospital immediately or call 995.</p>
            <p><a href="http://map.google.com">Find on Google Map</a></p>
        </div>
        <div class="button-list">
            <button (click)="onShowEmergencyHelp($event)" class="wh-secondary">Yes</button>
            <button (click)="onBack($event)" class="wh-secondary">Back</button>
            <button (click)="onCancel($event)" class="wh-secondary">Cancel</button>
            <button (click)="onNext($event)" class="" class="wh-primary default">No, proceed.</button>
        </div>
    </form>
</div>
