div {
  width: 100%;
  position: relative;

  img {
    display: block;
    max-width: 100%;
  }

  div {
    position: absolute;
    bottom: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 50%;

    h1 {
      margin-top: 0;
      margin-bottom: 5px;
      padding: 0;
      font-size: 1.5rem;
    }

    button {
      border-radius: 5px;
      padding: 10px 18px;
      border: none;
      color: white;
      font-size: 1.2rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
}
