@import '../../../variables.scss';

.banner {
    width: 100%;
    img {
        width: 100%;
    }
}

.category-list {
    display: flex;
    margin: 0;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;

    li {
        font-weight: 700;
        text-transform: uppercase;
        list-style: none;
        margin: 0;
        padding: 10px;
        background-color: var(--theme-box-border-color);
        border-radius: 15px;
        flex-grow: 1;
        flex-basis: 100px;
        text-align: center;

        a {
            color: black;
            text-decoration: none;
        }
    }

    li:hover {
        background-color: var(--theme-button-primary-background-color);
        a { color: white; }
    }
}


h1 {
    font-weight: 300;
    padding: 10px 10px 10px 20px;
    background: var(--theme-primary-background-color);
}

div.provider {
    display: flex;
    padding: 10px;

    .logo {
        flex-basis: 100px;
        min-width: 100px;
        img {
            max-width: 100%;
            border-radius: 5px 5px 5px 5px;
            border: 1px solid var(--theme-box-border-color);
        }

    }

    .metadata {
        padding: 0 10px;
        flex-grow: 1;

        a {
            font-weight: 700;
            text-decoration: none;
            color: black;
        }
    }
}

.insight {
    margin: auto;
    text-align: center;
    padding: 10px;

    img {
        max-width: 100%;
    }
}


@media only screen and (min-width: $size-sm) {

    div.provider{
        display: inline-block;
        vertical-align: top;

        .logo {
            border-radius: 10px;
            width: 100%;

            img {
                display: block;
                width: 100%;
                border-radius: 10px 10px 0 0;
                border: 1px solid var(--theme-box-border-color);
            }
        }

        .metadata {
            padding: 10px;
            width: 100%;
            border: 1px solid var(--theme-box-border-color);
            border-top: none;
            border-radius: 0 0 10px 10px;
        }
    }


    .insight {

        img {
            max-width: 100%;
        }
    }
}
