<app-header></app-header>
<div class="container">
    <div class="banner">
        <img src="assets/banner-mydoc.jpg"/>
    </div>
</div>
<div class="container">
    <ul class="category-list">
        <li *ngFor="let c of categories"><a routerLink="/care-network" href="#">{{c}}</a></li>
    </ul>
</div>
<div class="container">
    <h1>Recently Viewed</h1>
    <div class="row">
        <app-provider-card-control *ngFor="let p of getProvidersByCategory('Insurer')" [provider]="p"></app-provider-card-control>
    </div>
<div>
<div class="container">
    <h1>Insights for You</h1>
    <div class="row">
        <div class="col-sm-4 col-md-3 insight"><img src="https://place-hold.it/300" /></div>
        <div class="col-sm-4 col-md-3 insight"><img src="https://place-hold.it/300" /></div>
        <div class="col-sm-4 col-md-3 insight"><img src="https://place-hold.it/300" /></div>
        <div class="col-sm-4 col-md-3 insight"><img src="https://place-hold.it/300" /></div>
    </div>
</div>
