<div class="search-container">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input class="input-search" matInput name="search"/>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
</div>
<div>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button><mat-icon>videocam</mat-icon></button>
            <button mat-icon-button (click)="onCheckout($event, null)"><mat-icon>shopping_cart</mat-icon></button>
            <button mat-icon-button><mat-icon>chat_bubble</mat-icon></button>
            <button mat-icon-button><mat-icon>archive</mat-icon></button>
        </mat-card-actions>
    </mat-card>




    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg" />
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button (click)="onCheckout($event, null)">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>archive</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
