<div class="row">
    <app-provider-card-control *ngFor="let p of providers" [provider]="p">
        <!-- <div class="logo"><img src="assets/{{p.logoImage}}" /></div>
        <div class="metadata">
            <div class="title"><a [routerLink]="['/provider', p.id]">{{p.title}}</a></div>
            <div class="property">
                <fa-icon [ngClass]="p.isMemberRequired ? 'member' : ''" [icon]="['fas', 'id-card']"></fa-icon> <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </div>
            <div class="description">{{p.description}}</div>
        </div> -->
    </app-provider-card-control>
</div>