@import '../../../variables.scss';

.appointment-card {
    background-color: white;
    border: 1px solid var(--theme-box-border-color);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.episode {
    display: flex;
    gap: 20px;

    .portrait {
        //width: 60px;
        flex: 0 0 60px;

        img {
            max-width: 100%;
            border-radius: 30px;
        }
    }

    .content {

        .metadata {
            div {
                margin-bottom: 5px;
            }

            .doctor-name {
                font-weight: 700;
            }
        }

        .action {
            display: flex;
            gap: 12px;

            margin-top: 10px;

            fa-icon {
                font-size: 180%;
                color: var(--theme-button-primary-inactive-background-color);
                cursor: auto;
            }

            fa-icon.active {
                color: var(--theme-button-primary-background-color);
                cursor: pointer;
            }
        }
    }
}

.detail {
    padding: 20px;
}

@media screen and (min-width: $size-sm) {
    .content {
        flex: 1 1 auto;

        display: flex;
        gap: 20px;

        .action {
            flex: 1 1 auto;
            align-self: flex-end;
            justify-content: flex-end;
        }
    }
}
