@import '../../../../variables.scss';

.search-bar {

    padding: 10px 20px 20px 20px;

    mat-form-field {
        width: 100%;
        box-sizing: border-box;
    }
}


h1 {
    font-weight: 300;
    padding: 10px 10px 10px 20px;
    background-color: var(--theme-color-secondary-1);
    color: var(--theme-color-on-secondary-1);
}


@media screen and (min-width: $size-lg) {
    .search-bar {
        padding: 10px 0 20px 0;
    }
}


