

form {
    div {
        padding: 10px;
    }

    label {
        display: block;
        margin-bottom: 6px;
    }
    input, select {
        display: block;
        border: none;
        background: #EEEEEE;
        padding: 6px 9px;
        width: 100%;
    }
}

button {
    border: none;
    padding: 6px 9px;
    margin-right: 5px;
}
button.default {
    background-color: var(--theme-button-primary-background-color);
    color: white;
}
