@import '../../../variables.scss';

.section {
    background-color: white;
}

.content {
    padding: 20px;

    h1 {
        font-weight: 300;
    }
}

.provider-list {
    padding: 20px;

    .provider {
        display: flex;
        margin-bottom: 20px;
        gap: 10px;

        .logo {
            flex: 0 0 120px;

            img {
                width: px;
                max-width: 100%;
                border-radius: 5px;
            }
        }

        .metadata {

            .title {
                font-weight: 700;
                margin-bottom: 3px;
            }

            .property {
                margin-bottom: 10px;

                fa-icon {
                    font-size: 120%;
                    margin-right: 5px;
                }

                span {
                    margin-right: 5px;
                }

                .journey-button {
                    display: inline-block;

                    button {
                        display: inline-block;
                        padding: 6px 12px;
                        margin: 5px 5px 5px 0;
                        border-radius: 5px;
                        border: none;
                        background-color: #cccccc;
                        color: black;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    }
                }

            }


        }

    }
}


@media screen and (min-width: $size-md) {

    .provider-list {
        display: flex;
        gap: 20px;

        .provider {
            flex: 1 1 50%;
        }
    }
}
