<div class="style-button content">
    <h1>Buttons</h1>
    <div class="panel">
        <div class="panel-variables">
            <p>Common</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-radius</label>
                    <div class="input">
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-border-radius']"/>
                    </div>
                </li>
            </ul>
            <p>Primary</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-foreground-color']"/>
                    </div>
                </li>
            </ul>
            <p>Primary Inactive</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-foreground-color']"/>
                    </div>
                </li>
            </ul>
            <p>Secondary</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-foreground-color']"/>
                    </div>
                </li>
            </ul>
            <p>Secondary Inactive</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-foreground-color']"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-sample">
            <div><p>Primary Button</p><button class="wh-primary">{{sample.buttonText}}</button></div>
            <div><p>Primary Inactive Button</p><button class="wh-primary wh-inactive">{{sample.buttonText}}</button></div>
            <div><p>Secondary Button</p><button class="wh-secondary">{{sample.buttonText}}</button></div>
            <div><p>Secondary Inactive Button</p><button class="wh-secondary wh-inactive">{{sample.buttonText}}</button></div>
        </div>
    </div>
    <h1>Box</h1>
    <div class="panel">
        <div class="panel-variables">
            <p>Common</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-radius</label>
                    <div class="input">
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-border-radius']"/>
                    </div>
                </li>
            </ul>
            <p>Info</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-error-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-error-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-warning-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-warning-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-info-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-info-background-color']"/>
                    </div>
                </li>
            </ul>
            <p>Primary Inactive</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-primary-inactive-foreground-color']"/>
                    </div>
                </li>
            </ul>
            <p>Secondary</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-foreground-color']"/>
                    </div>
                </li>
            </ul>
            <p>Secondary Inactive</p>
            <ul class="variable-list">
                <li class="variable">
                    <label>border-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-border-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-border-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>background-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-background-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-background-color']"/>
                    </div>
                </li>
                <li class="variable">
                    <label>foreground-color</label>
                    <div class="input">
                        <input type="color" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-foreground-color']"/>
                        <input type="text" (change)="onChange($event)" [(ngModel)]="theme['--theme-button-secondary-inactive-foreground-color']"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-sample">
            <div><p>Primary Button</p><button class="wh-primary">{{sample.buttonText}}</button></div>
            <div><p>Primary Inactive Button</p><button class="wh-primary wh-inactive">{{sample.buttonText}}</button></div>
            <div><p>Secondary Button</p><button class="wh-secondary">{{sample.buttonText}}</button></div>
            <div><p>Secondary Inactive Button</p><button class="wh-secondary wh-inactive">{{sample.buttonText}}</button></div>
        </div>
    </div>
</div>
<div class="content">
    <textarea class="output">{{output}}</textarea>
</div>
