<div class="card">
    <h1>Member Validation</h1>
    <form [formGroup]="form">
        <div><label>Policy Number</label><input formControlName="policyNumber" /></div>
        <div class="button-list">
            <button (click)="onBack($event)" class="wh-button wh-secondary">Back</button>
            <button (click)="onCancel($event)" class="wh-button wh-secondary">Cancel</button>
            <button (click)="onNext($event)" class="wh-button wh-primary default">Next</button>
        </div>
    </form>
</div>
