@import '../../../variables.scss';

.navbar {

  font-size: 1.4rem;

  .navbar-brand {
    float: left;
    height: 50px;
    margin: 12px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .navbar-toggler {
    background: none;
    border: none;
    float: right;
    height: 50px;
    margin: 12px;
    font-size: 160%;
  }

  .navbar-collapse {
    display:none;
  }

  .navbar-menu::before {
    content: "";
    clear: both;
    display: block;
  }

  .navbar-menu {
    padding: 20px;

    ul {
      margin: 0;
      padding: 0;


      li { list-style: none; }


      .nav-item:hover {
        background-color: #B7BDCF;
      }

      .nav-item {

        padding: 6px;

        .dropdown-divider {
          border-collapse: collapse;
          border-top: 1px solid grey
        }

        a:link, a:visited {
          color: black;
          text-decoration: none;
        }

        a:hover {
          color: #1447fc;
          text-decoration: none;
        }
      }
    }
  }

}

@media only screen and (min-width: $size-md) {

  .navbar-toggler {
    display: none;
  }

  .navbar-menu {
    float: left;
  }

  .navbar-nav {
    display: block;
    padding: 0;

    li {
      display: none;
    }

    .dropdown-divider {
      display: none;
    }

    .nav-item {
      display: inline-block;
      padding: 3px 6px;
    }
  }
}



