div {
  padding: 10px;
  height: 50px;

  img {
    display: inline-block;
    height: 50px;
  }

  ul {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 20px;

      a:link,
      a:visited {
        color: black;
        text-decoration: none;
      }

      a:hover {
        color: #1447fc;
      }
    }
  }
}
