@import '../../../variables.scss';

form {

    p {
        font-weight: 700;
    }

    div {
        margin-bottom: 6px;
    }

    label {
        display: block;
        margin-bottom: 6px;
    }
    input, select {
        display: block;
        padding: 6px 9px;
        width: 100%;
        border: none;

        border-bottom: 1px solid black;
        border-radius: 0;

        // background: #EEEEEE;
    }
    input[type=radio] {
        display: inline;
        width: auto;
    }
    span {
        color: var(--theme-font-inactive-color);
    }

    .input-name {
        display: flex;

        input {
            flex: 1 1 100%;
        }

        fa-icon {
            flex: 0 0 auto;
        }
    }
}

.button-list {

    display: flex;
    margin-top: 20px;

    button {
        border: none;
        padding: 6px 9px;
        margin-right: 5px;
    }
    button.default {
        background-color: var(--theme-button-primary-background-color);
        color: white;
        margin-left: auto;
        align-self: flex-end;
    }
}
