<div class="section" [ngClass]="pageStyle.container">
    <div class="wh-container">
        <div class="cta">
            <p>Your digital health journey with <span class="bold">MyDoc</span> is about to begin.</p>
        </div>
        <mat-card class="form-container">
            <form [formGroup]="form" (ngSubmit)="onRegister($event)">
                <mat-form-field *ngIf="isEmailLogin">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="username" required />
                    <mat-error *ngIf="f.username.invalid">Username is required.</mat-error>
                    <button mat-icon-button matSuffix matTooltip="Use phone number" (click)="isEmailLogin = false">
                        <mat-icon>phone_android</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field *ngIf="!isEmailLogin">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" formControlName="username" required />
                    <mat-error *ngIf="f.username.invalid">Username is required.</mat-error>
                    <button mat-icon-button matSuffix matTooltip="Use email" (click)="isEmailLogin = true">
                        <mat-icon>email</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="isShowPassword ? 'text' : 'password'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="isShowPassword = !isShowPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isShowPassword">
                        <mat-icon>{{isShowPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-hint>At least 8 characters.</mat-hint>
                    <mat-error *ngIf="f.username.invalid">Password is required.</mat-error>
                </mat-form-field>

                <div class="button-list">
                    <button mat-flat-button type="submit" color="primary">Register Now</button>
                </div>

                <div class="forgot-password-links">
                    <p><a routerLink="/forgot-password">Forgotten Password?</a></p>
                </div>

                <mat-divider></mat-divider>

                <div class="new-user-links">
                    <p>Not sure? <a routerLink="/public/tour">Take the MyDoc Tour</a>. Existing User? <a routerLink="/login">Login now.</a></p>
                </div>
            </form>
        </mat-card>
    </div>
</div>
