.container {
    display: flex;
    padding: 20px;

    .navigation {

        flex: 0 0 300px;

        h1 {
            border: 1px solid #CCCCCC;
            padding: 10px 20px;
            cursor: pointer;
        }

        .panel-variables {


            .variable-list {
                margin: 0 0 10px 0; padding: 0;
                display: block;
                width: 500px;

                .variable {
                    display: block;
                    list-style: none;
                    padding: 2px;

                    label {
                        display: inline-block;
                        width: 200px;
                    }
                    .input {
                        flex: 1 1 100%;

                        display: inline-flex;
                        gap: 5px;
                    }
                }
            }
        }
    }

    .content {
        flex: 1 1 100%;
        padding: 20px;

        .panel-sample {
            flex: 1 1 100%;
            margin-right: auto;
        }

        .output {
            width: 100%;
            height: 500px;
        }
    }
}

button {
    padding: 5px 10px;
}

.wh-box-error, .wh-box-warning, .wh-box-success, .wh-box-info, .wh-box-note {
    padding: 10px;
    width: 300px;
}


textarea {
    white-space: nowrap;
}
