form {
    div {
        padding: 10px;
    }

    label {
        display: block;
        margin-bottom: 6px;
    }
    input, select, textarea {
        display: block;
        border: none;
        background: #EEEEEE;
        padding: 6px 9px;
        width: 100%;
    }
}

.button-list {

    display: flex;

    button {
        border: none;
        padding: 6px 9px;
        margin-right: 5px;
    }
    button.default {
        background-color: var(--theme-button-primary-background-color);
        color: white;
        margin-left: auto;
        align-self: flex-end;
    }
}
