<div>
  <p>Progress: {{progress}} / {{progressMax}}</p>
  <h1>{{title}}</h1>
  <div>
    <form [formGroup]="form">
      <div><label>First Name</label><input formControlName="firstName" /></div>
      <div><label>Last Name</label><input formControlName="lastName" /></div>
      <div>
        <label>Gender</label>
        <select formControlName="gender">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
      </div>
      <div>
        <label>Birthdate</label>
        <input formControlName="birthdate" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <button (click)="onNext($event)">Next</button>
        <button (click)="onBack($event)">Back</button>
        <button (click)="onCancel($event)">Cancel</button>
      </div>
    </form>
  </div>
</div>
