.checkbox {
    display: none;
}

.tag {
    cursor: pointer;
    background: var(--theme-box-border-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.tag.checked {
    background: var(--theme-button-primary-background-color);
    color: white;
}
