<app-header [hasNavigation]="false"></app-header>
<div class="container">
    <ul class="journey-line">
        <li *ngFor="let seq of sequence; index as i" class="journey-stop">
            <div [ngClass]="{'active': i == progress}" class="journey-stop-number">{{i + 1}}</div>
            <div class="journey-stop-name">{{seq.stepName}}</div>
        </li>
    </ul>
    <div class="provider">
        <div class="logo"><img src="assets/{{provider.logoImage}}" /></div>
        <div class="metadata">
            <div class="title">{{provider.title}}</div>
            <div class="property">
                <fa-icon [ngClass]="provider.isMemberRequired ? 'member' : ''" [icon]="['fas', 'id-card']"></fa-icon>
                <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </div>
            <div class="description">{{provider.description}}</div>
        </div>
    </div>
    <div class="form">
        <ng-template #container></ng-template>
    </div>
</div>
<app-footer [hasNavigation]="false"></app-footer>
