@import '../../../variables.scss';

.journey-line {

    margin: 20px 0 0 30px;
    padding: 0;
    border-left: 3px solid $theme-border-color;

    li {
        margin: 0 0 15px 0;
        padding: 0;
        list-style: none;

        .journey-stop-number {
            border-radius: 10px;
            background-color: $theme-border-color;
            display: inline-block;
            width: 20px;
            line-height: 20px;
            text-align: center;
            position: relative;
            left: -12px;
        }

        .journey-stop-number.active {
            background-color: $theme-color;
            color: white;
        }

        .journey-stop-name {
            display: inline-block;
            line-height: 20px;
        }
    }
}

.provider {

    display: flex;
    margin: 20px;
    gap: 10px;

    .logo {
        flex: 0 0 120px;

        img {
            width: px;
            max-width: 100%;
            border-radius: 5px;
        }
    }

    .metadata {

        .title {
            font-weight: 700;
            margin-bottom: 3px;
        }

        .property {
            margin-bottom: 10px;

            fa-icon {
                font-size: 120%;
                margin-right: 5px;
            }
        }

        .journey-button {
            display: inline-block;

            button {
                display: inline-block;
                padding: 6px 12px;
                border-radius: 5px;
                border: none;
                background-color: #cccccc;
                color: black;
            }
        }
    }

}





@media screen and (min-width: $size-sm) {

    .container {
        display: flex;
        flex-wrap: wrap;
    }


    .journey-line {
        flex: 1 1 100%;

        display: flex;
        gap: 10px;
        padding: 0 20px 0 20px;
        border: 0px;
        border-top: 3px solid $theme-border-color;
        margin: 30px 0 0 0;


        .journey-stop {
            flex-grow: 1;
            flex-basis: 80px;
            text-align: center;

            .journey-stop-number {
                position: relative;
                left: 0;
                top: -10px;
            }

            .journey-stop-name {
                display: block;
                margin-top: 10px;
            }
        }
    }

    .provider {
        flex: 0 1 200px;
        order: 2;

        display: block;
    }

    .form {
        flex: 1 1 100px;
    }
}
