@import '../../../variables.scss';

.section {
    background: white;
    .logo {
        width: 150px;
        img {
            max-width: 100%;
            display: block;
            border: 5px solid white;
            border-radius: 10px;
            margin: 20px;
        }
    }

    .content {
        padding: 0 20px 20px 20px;
    }
}


@media screen and (min-width: $size-md) {
    .section {
        display: flex;
        min-height: 190px;

        .logo {
            flex-basis: 200px;
            flex-shrink: 0;
            position: relative;

            img {
                max-width: 100%;
                display: block;
                border: 5px solid white;
                border-radius: 10px;
                position: absolute;
                top: -30px;
                left: 50px;
                margin: 0;
            }
        }

        .content {
            flex-grow: 1;
            margin-left: 70px;
            padding: 0 20px 20px 0;
        }

    }
}
