@import "../../../variables.scss";

.provider-page {
    display: flex;

    .provider-logo {
        flex-basis: 200px;
    }

    .provider-section-container {
        display: block;
        flex-shrink: 1;

        .box {
            height: 200px;
            border: 5px solid red;
        }
    }
}
