<div>
    <div class="search-bar">
        <div class="search-control">
            <input class="search-input" type="search" value="" placeholder="Search" (keyup)="search($event)" /> <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </div>
    </div>
</div>
<div *ngFor="let category of categories">
    <h1>{{category}}</h1>
    <div class="wh-row">
        <app-provider-card-control *ngFor="let p of getProvidersByCategory(category)" [provider]="p"></app-provider-card-control>
    </div>
</div>
