<div [ngClass]="pageStyle.container">
    <div class="wh-container">
        <div class="search-bar">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput type="search" (change)="search($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div *ngFor="let category of categories">
            <h1>{{category}}</h1>
            <div class="wh-row">
                <app-provider-card-control *ngFor="let p of getProvidersByCategory(category)" [provider]="p">
                </app-provider-card-control>
            </div>
        </div>
    </div>
</div>
