.search-bar {
    width: 100%;

    .search-control {
        display: flex;
        width: auto;
        row-gap: 10px;
        background: var(--theme-color-neutral-0);
        padding: 10px;
        margin: 0 10px 0 10px;
        border-radius: var(--theme-button-border-radius);
        align-items: baseline;

        .search-input {
            flex-grow: 1;
            width: 100%;
            border: none;
            padding: 5px;
            background: none;
        }

        fa-icon {
            flex-basis: 40px;
            width: 40px;
            font-size: 120%;
        }
    }
}

h1 {
    font-weight: 300;
    padding: 10px 10px 10px 20px;
    background-color: var(--theme-color-secondary-1);
    color: var(--theme-color-on-secondary-1);
}





