/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import './variables.scss';

:root {

  // body
  --theme-font-family: 'Roboto', sans-serif;
  --theme-font-primary-color: #000000;
  --theme-font-secondary-color: #ED0225;
  --theme-font-inactive-color: #AAAAAA;
  --theme-box-border-color: #DBDBDB;

  // background
  --theme-primary-background-color: #ffffff;
  --theme-secondary-background-color: #FAFAFA;

  // header/footer
  --theme-header-background-color: #ffffff;
  --theme-footer-background-color: #ffffff;

  // errors and warnings
  --theme-error-background-color: #ED0225;
  --theme-error-foreground-color: #FAFAFA;

  //buttons
  --theme-button-border-color: #DBDBDB;
  --theme-button-border-radius: 5px;
  --theme-button-primary-background-color: #ED0225;
  --theme-button-primary-foreground-color: #ffffff;
  --theme-button-secondary-background-color: #EFEFEF;
  --theme-button-secondary-foreground-color: #000000;
  --theme-button-primary-inactive-background-color: #DBDBDB;
  --theme-button-primary-inactive-foreground-color: #EFEFEF;
  --theme-button-secondary-inactive-background-color: #FAFAFA;
  --theme-button-secondary-inactive-foreground-color: #EFEFEF;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  padding: 0; margin: 0;
  background-color: var(--theme-primary-background-color);
}
html, body, input, select, textarea, button, label, span {
  color: var(--theme-font-primary-color);
  font-family: var(--theme-font-family);
  font-weight: 400;
  // font-family: Helvetica, Arial, sans-serif;
  // font-weight: 100, 300, 400, 700;
}
html {
  font-size: 62.5%;
  body {
    font-size: 1.4rem;
    h1 { font-weight: 700; }
    p { font-weight: 300; }
  }
}

// form
button, input, select, textarea {
  //border-radius: var(--theme-button-border-radius);
}

// buttons
button:hover,
button, input[type=submit],
fa-icon.wh-primary:hover,
fa-icon.wh-secondary:hover,
fa-icon.wh-inactive:hover {
  cursor: pointer;
  border-radius: var(--theme-button-border-radius);
}
button.wh-primary, fa-icon.wh-primary, input[type=submit].wh-primary {
  background-color: var(--theme-button-primary-background-color) !important;
  color: var(--theme-button-primary-foreground-color) !important;
  border: 1px solid var(--theme-button-primary-border-color) !important;
}
button.wh-secondary, fa-icon.wh-secondary, input[type=submit].wh-secondary {
  background-color: var(--theme-button-secondary-background-color) !important;
  color: var(--theme-button-secondary-foreground-color) !important;
  border: 1px solid var(--theme-button-secondary-border-color) !important;
}
button.wh-inactive, fa-icon.wh-inactive, input[type=submit].wh-inactive {
  background-color: var(--theme-button-secondary-background-color) !important;
  color: var(--theme-button-secondary-foreground-color) !important;
  border: 1px solid var(--theme-button-secondary-border-color) !important;
}

.wh-row::after {
  content: "";
  clear: both;
  display: block;
}

/* For mobile phones: */
[class*="wh-col-"] {
  width: 100%;
}

div.wh-fluid-container { padding: 0; margin: 0; width: 100%; margin: auto; }
div.wh-container { padding: 0; margin: 0; width: 100%; margin: auto; }
div.wh-content-center { padding: 0; margin: 0; width: 100%; margin: auto; }
div.wh-content-left { padding: 0; margin: 0; width: 100%; }

@media only screen and (min-width: $size-xs) {

  /* Extra small devices (phones, 600px and down) */
  .wh-col-xs-1 {width: 8.33%; float: left; }
  .wh-col-xs-2 {width: 16.66%; float: left;}
  .wh-col-xs-3 {width: 25%; float: left; }
  .wh-col-xs-4 {width: 33.33%;float: left; }
  .wh-col-xs-5 {width: 41.66%;float: left; }
  .wh-col-xs-6 {width: 50%; float: left; }
  .wh-col-xs-7 {width: 58.33%;float: left; }
  .wh-col-xs-8 {width: 66.66%;float: left; }
  .wh-col-xs-9 {width: 75%;float: left;}
  .wh-col-xs-10 {width: 83.33%;float: left;}
  .wh-col-xs-11 {width: 91.66%;float: left;}
  .wh-col-xs-12 {width: 100%;float: left;}
}

@media only screen and (min-width: $size-sm) {
  /* For tablets: */
  .wh-col-sm-1 {width: 8.33%; float: left; }
  .wh-col-sm-2 {width: 16.66%; float: left;}
  .wh-col-sm-3 {width: 25%; float: left; }
  .wh-col-sm-4 {width: 33.33%;float: left; }
  .wh-col-sm-5 {width: 41.66%;float: left; }
  .wh-col-sm-6 {width: 50%; float: left; }
  .wh-col-sm-7 {width: 58.33%;float: left; }
  .wh-col-sm-8 {width: 66.66%;float: left; }
  .wh-col-sm-9 {width: 75%;float: left;}
  .wh-col-sm-10 {width: 83.33%;float: left;}
  .wh-col-sm-11 {width: 91.66%;float: left;}
  .wh-col-sm-12 {width: 100%;float: left;}
}

@media only screen and (min-width: $size-md) {
  /* For desktop: */
  .wh-col-md-1 {width: 8.33%;float: left;}
  .wh-col-md-2 {width: 16.66%;float: left;}
  .wh-col-md-3 {width: 25%;float: left;}
  .wh-col-md-4 {width: 33.33%;float: left;}
  .wh-col-md-5 {width: 41.66%;float: left;}
  .wh-col-md-6 {width: 50%;float: left;}
  .wh-col-md-7 {width: 58.33%;float: left;}
  .wh-col-md-8 {width: 66.66%;float: left;}
  .wh-col-md-9 {width: 75%;float: left;}
  .wh-col-md-10 {width: 83.33%;float: left;}
  .wh-col-md-11 {width: 91.66%;float: left;}
  .wh-col-md-12 {width: 100%;float: left;}
}

div.wh-header { background-color: var(--theme-header-background-color); }
div.wh-footer { background-color: var(--theme-footer-background-color); }

@media only screen and (min-width: $size-lg) {
  /* For desktop: */
  html, body { background-color: var(--theme-secondary-background-color) }

  div.wh-header.wh-container {
    border-bottom: 1px solid var(--theme-box-border-color);
    margin-bottom: 10px;
  }
  div.wh-container { width: $size-lg; }
  div.wh-content-center { width: $size-lg; }
  div.wh-content-left { width: $size-lg; }

  .wh-col-lg-1 {width: 8.33%;}
  .wh-col-lg-2 {width: 16.66%;}
  .wh-col-lg-3 {width: 25%;}
  .wh-col-lg-4 {width: 33.33%;}
  .wh-col-lg-5 {width: 41.66%;}
  .wh-col-lg-6 {width: 50%;}
  .wh-col-lg-7 {width: 58.33%;}
  .wh-col-lg-8 {width: 66.66%;}
  .wh-col-lg-9 {width: 75%;}
  .wh-col-lg-10 {width: 83.33%;}
  .wh-col-lg-11 {width: 91.66%;}
  .wh-col-lg-12 {width: 100%;}
}

// forms
div.card { padding: 20px; }

@media only screen and (min-width: $size-md) {
    div.card {
        margin: 20px auto 0 auto;
    }
}
@media only screen and (min-width: $size-lg) {
    div.card {
        margin-left: 0;
        border: 1px solid var(--theme-box-border-color);
        border-radius: 5px;
        background-color: white;
    }
}
