/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import './variables.scss';

:root {

  // body
  --theme-font-family: 'Roboto', sans-serif;
  --theme-color-background: #ffffff;
  --theme-color-on-background: #0E194E;
  --theme-color-surface: #ffffff;
  --theme-color-on-surface: #ffffff;

  // theme colors
  --theme-color-primary--3: #b8bcd0;
  --theme-color-primary--2: #838db8;
  --theme-color-primary--1: #585ea4;
  --theme-color-primary-0: #383c65;
  --theme-color-primary-1: #10154f;
  --theme-color-primary-2: #10154f;
  --theme-color-primary-3: #10154f;

  --theme-color-on-primary--3: #b8bcd0;
  --theme-color-on-primary--2: #838db8;
  --theme-color-on-primary--1: #585ea4;
  --theme-color-on-primary-0: #383c65;
  --theme-color-on-primary-1: #10154f;
  --theme-color-on-primary-2: #10154f;
  --theme-color-on-primary-3: #10154f;

  --theme-color-secondary--3: #b8bcd0;
  --theme-color-secondary--2: #838db8;
  --theme-color-secondary--1: #585ea4;
  --theme-color-secondary-0: #383c65;
  --theme-color-secondary-1: #10154f;
  --theme-color-secondary-2: #10154f;
  --theme-color-secondary-3: #10154f;

  --theme-color-on-secondary--3: #b8bcd0;
  --theme-color-on-secondary--2: #838db8;
  --theme-color-on-secondary--1: #585ea4;
  --theme-color-on-secondary-0: #383c65;
  --theme-color-on-secondary-1: #10154f;
  --theme-color-on-secondary-2: #10154f;
  --theme-color-on-secondary-3: #10154f;

  // header/footer
  --theme-header-background-color: #ffffff;
  --theme-footer-background-color: #ffffff;

  // box
  --theme-box-border-radius: "5px";

  --theme-error-border-color: #FFEBE6;
  --theme-error-background-color: #FFEBE6;
  --theme-error-foreground-color: #FFEBE6;

  --theme-warning-border-color: #FFEBE6;
  --theme-warning-background-color: #FFF9E7;
  --theme-warning-foreground-color: #FFF9E7;

  --theme-info-border-color: #FFEBE6;
  --theme-info-background-color: #DEECFE;
  --theme-info-foreground-color: #DEECFE;

  --theme-note-border-color: #FFEBE6;
  --theme-note-background-color: #EAE7FE;
  --theme-note-foreground-color: #EAE7FE;

  --theme-success-border-color: #FFEBE6;
  --theme-success-background-color: #E3FCEF;
  --theme-success-foreground-color: #E3FCEF;

  //buttons
  --theme-button-border-radius: "5px";

  --theme-button-primary-border-color: #4F85F1;
  --theme-button-primary-background-color: #4F85F1;
  --theme-button-primary-foreground-color: #FFFFFF;
  --theme-button-secondary-border-color: #DBDBDB;
  --theme-button-secondary-background-color: #DBDBDB;
  --theme-button-secondary-foreground-color: #000000;
  --theme-button-primary-inactive-border-color: #4F85F1;
  --theme-button-primary-inactive-background-color: #4F85F1;
  --theme-button-primary-inactive-foreground-color: #84adea;
  --theme-button-secondary-inactive-border-color: #DBDBDB;
  --theme-button-secondary-inactive-background-color: #DBDBDB;
  --theme-button-secondary-inactive-foreground-color: #AAAAAA;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  font-family: var(--theme-font-family);
  font-weight: 400;
  background-color: var(--theme-color-background);
  color: var(--theme-color-on-background);
  padding: 0; margin: 0;
}
html {
  font-size: 62.5%;
  body {
    font-size: 1.4rem;
    h1 { font-weight: 700; }
    p { font-weight: 300; }
  }
}

// buttons
.wh-button:hover { cursor: pointer; }
.wh-button { border-radius: var(--theme-button-border-radius); }
.wh-button.wh-primary, .wh-button.wh-primary {
  background-color: var(--theme-button-primary-background-color);
  color: var(--theme-button-primary-foreground-color);
  border: 1px solid var(--theme-button-primary-border-color);
  a { text-decoration: none; color: var(--theme-button-primary-foreground-color); }
}
.wh-button.wh-primary.wh-inactive, .wh-button.wh-primary.wh-inactive {
  background-color: var(--theme-button-primary-inactive-background-color);
  color: var(--theme-button-primary-inactive-foreground-color);
  border: 1px solid var(--theme-button-primary-inactive-border-color);
  a { text-decoration: none; color: var(--theme-button-primary-inactive-foreground-color); }
}
.wh-button.wh-secondary, .wh-button.wh-secondary {
  background-color: var(--theme-button-secondary-background-color);
  color: var(--theme-button-secondary-foreground-color);
  border: 1px solid var(--theme-button-secondary-border-color);
  a { text-decoration: none; color: var(--theme-button-secondary-foreground-color); }
}
.wh-button.wh-secondary.wh-inactive, .wh-button.wh-secondary.wh-inactive {
  background-color: var(--theme-button-secondary-inactive-background-color);
  color: var(--theme-button-secondary-inactive-foreground-color);
  border: 1px solid var(--theme-button-secondary-inactive-border-color);
  a { text-decoration: none; color: var(--theme-button-secondary-inactive-foreground-color); }
}

// box
.wh-box-error, .wh-box-warning, .wh-box-success, .wh-box-info, .wh-box-note {
  border-radius: var(--theme-box-border-radius);
}
.wh-box-error {
  background-color: var(--theme-error-background-color);
  color: var(--theme-error-foreground-color);
  border: 1px solid var(--theme-error-border-color);
}
.wh-box-warning {
  background-color: var(--theme-warning-background-color);
  color: var(--theme-warning-foreground-color);
  border: 1px solid var(--theme-warning-border-color);
}
.wh-box-success {
  background-color: var(--theme-success-background-color);
  color: var(--theme-success-foreground-color);
  border: 1px solid var(--theme-success-border-color);
}
.wh-box-info {
  background-color: var(--theme-info-background-color);
  color: var(--theme-info-foreground-color);
  border: 1px solid var(--theme-info-border-color);
}
.wh-box-note {
  background-color: var(--theme-note-background-color);
  color: var(--theme-note-foreground-color);
  border: 1px solid var(--theme-note-border-color);
}

.wh-row::after {
  content: "";
  clear: both;
  display: block;
}

/* For mobile phones: */
[class*="wh-col-"] {
  width: 100%;
}

div.wh-fluid-container { padding: 0; margin: 0; width: 100%; margin: auto; }
div.wh-container { padding: 0; margin: 0; width: 100%; margin: auto; }
div.wh-content-center { padding: 0; margin: 0; width: 100%; margin: auto; }
div.wh-content-left { padding: 0; margin: 0; width: 100%; }

@media only screen and (min-width: $size-xs) {

  /* Extra small devices (phones, 600px and down) */
  .wh-col-xs-1 {width: 8.33%; float: left; }
  .wh-col-xs-2 {width: 16.66%; float: left;}
  .wh-col-xs-3 {width: 25%; float: left; }
  .wh-col-xs-4 {width: 33.33%;float: left; }
  .wh-col-xs-5 {width: 41.66%;float: left; }
  .wh-col-xs-6 {width: 50%; float: left; }
  .wh-col-xs-7 {width: 58.33%;float: left; }
  .wh-col-xs-8 {width: 66.66%;float: left; }
  .wh-col-xs-9 {width: 75%;float: left;}
  .wh-col-xs-10 {width: 83.33%;float: left;}
  .wh-col-xs-11 {width: 91.66%;float: left;}
  .wh-col-xs-12 {width: 100%;float: left;}
}

@media only screen and (min-width: $size-sm) {
  /* For tablets: */
  .wh-col-sm-1 {width: 8.33%; float: left; }
  .wh-col-sm-2 {width: 16.66%; float: left;}
  .wh-col-sm-3 {width: 25%; float: left; }
  .wh-col-sm-4 {width: 33.33%;float: left; }
  .wh-col-sm-5 {width: 41.66%;float: left; }
  .wh-col-sm-6 {width: 50%; float: left; }
  .wh-col-sm-7 {width: 58.33%;float: left; }
  .wh-col-sm-8 {width: 66.66%;float: left; }
  .wh-col-sm-9 {width: 75%;float: left;}
  .wh-col-sm-10 {width: 83.33%;float: left;}
  .wh-col-sm-11 {width: 91.66%;float: left;}
  .wh-col-sm-12 {width: 100%;float: left;}
}

@media only screen and (min-width: $size-md) {
  /* For desktop: */
  .wh-col-md-1 {width: 8.33%;float: left;}
  .wh-col-md-2 {width: 16.66%;float: left;}
  .wh-col-md-3 {width: 25%;float: left;}
  .wh-col-md-4 {width: 33.33%;float: left;}
  .wh-col-md-5 {width: 41.66%;float: left;}
  .wh-col-md-6 {width: 50%;float: left;}
  .wh-col-md-7 {width: 58.33%;float: left;}
  .wh-col-md-8 {width: 66.66%;float: left;}
  .wh-col-md-9 {width: 75%;float: left;}
  .wh-col-md-10 {width: 83.33%;float: left;}
  .wh-col-md-11 {width: 91.66%;float: left;}
  .wh-col-md-12 {width: 100%;float: left;}
}

div.wh-header { background-color: var(--theme-header-background-color); }
div.wh-footer { background-color: var(--theme-footer-background-color); }

@media only screen and (min-width: $size-lg) {

  div.wh-header.wh-container {
    border-bottom: 1px solid var(--theme-box-border-color);
    margin-bottom: 10px;
  }
  div.wh-container { width: $size-lg; }
  div.wh-content-center { width: $size-lg; }
  div.wh-content-left { width: $size-lg; }

  .wh-col-lg-1 {width: 8.33%;}
  .wh-col-lg-2 {width: 16.66%;}
  .wh-col-lg-3 {width: 25%;}
  .wh-col-lg-4 {width: 33.33%;}
  .wh-col-lg-5 {width: 41.66%;}
  .wh-col-lg-6 {width: 50%;}
  .wh-col-lg-7 {width: 58.33%;}
  .wh-col-lg-8 {width: 66.66%;}
  .wh-col-lg-9 {width: 75%;}
  .wh-col-lg-10 {width: 83.33%;}
  .wh-col-lg-11 {width: 91.66%;}
  .wh-col-lg-12 {width: 100%;}
}

// forms
div.card {
  padding: 20px;
}

@media only screen and (min-width: $size-md) {
    div.card {
        margin: 20px auto 0 auto;
    }
}
@media only screen and (min-width: $size-lg) {
    div.card {
        margin-left: 0;
        border-radius: 5px;
        background-color: white;
    }
}
