$size-xs: 300px;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1400px;

$theme-color: #1447fc;
$theme-color-light: #C8D1E1;
$theme-border-color: #DBDBDB;
$theme-background-color: #FAFAFA;
