@import '../../../variables.scss';

div {
    text-align: center;
    padding: 20px;

    p {
        font-size: 140%;
    }

    ul {
        li {
            list-style: none;
            display: inline-block;
            margin: 6px;
            text-align: center;

            span, image {
                display: block;
            }
        }

    }
}
