@import '../../../variables.scss';

div {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;

    p {
        font-size: 140%;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            margin: 6px;
            text-align: center;

            span, image {
                display: block;
            }
        }

    }
}
