<div class="container">
    <p>70% of outpatients can be treated virtually. Talk to our doctors regularly for early preventive care. Prevention
        is better than cure.</p>
    <p>Get treated for a wide range of common illnesses.</p>
    <ul>
        <li>
            <img src="https://app.qa.my-doc.com/dai-ichi/assets/images/icon_flu.png"/>
            <span>Flu</span>
        </li>
        <li>
            <img src="https://app.qa.my-doc.com/dai-ichi/assets/images/icon_sorethroat.png"/>
            <span>Sore throat</span>
        </li>
        <li>
            <img src="https://app.qa.my-doc.com/dai-ichi/assets/images/icon_headache.png"/>
            <span>Headache</span>
        </li>
        <li>
            <img src="https://app.qa.my-doc.com/dai-ichi/assets/images/icon_moredisease.png"/>
            <span>...and more</span>
        </li>
    </ul>
</div>
