@import "../../../variables.scss";

.provider {
    display: flex;
    padding: 10px;

    .logo {
        flex-basis: 100px;
        min-width: 100px;
        img {
            max-width: 100%;
            border-radius: 5px 5px 5px 5px;
            border: 1px solid $theme-border-color;
        }

    }

    .metadata {
        padding: 0 10px;
        flex-grow: 1;

        a {
            font-weight: 700;
            text-decoration: none;
            color: black;
        }

        .property {

            fa-icon {
                font-size: 120%;
                display: inline-block;
                margin: 5px 5px 5px 0;
                color: $theme-color-light;
                vertical-align: middle;
            }

            fa-icon.member {
                color: $theme-color;
            }
        }
    }
}


@media only screen and (min-width: $size-sm) {

    .provider{
        display: inline-block;
        vertical-align: top;

        .logo {
            border-radius: 10px;
            width: 100%;

            img {
                display: block;
                width: 100%;
                border-radius: 10px 10px 0 0;
                border: 1px solid $theme-border-color;
            }
        }

        .metadata {
            padding: 10px;
            width: 100%;
            border: 1px solid $theme-border-color;
            border-top: none;
            border-radius: 0 0 10px 10px;
            background: white;
        }
    }
}
